
.icon-weibo:before { content: '\e800'; } /* '' */
.icon-linkedin:before { content: '\e803'; } /* '' */
.icon-twitter:before { content: '\e802'; } /* '' */
.icon-email:before { content: '\e801'; } /* '' */
.icon-github-circled:before { content: '\e804'; } /* '' */
.icon-home:before { content: '\e805'; } /* '' */