/* =============================================================================
   HTML5 Boilerplate CSS: h5bp.com/css
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }

a { color: #000;}
a:visited { color: #000; }
a:hover { color: #0C84E8; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
a:link,a:hover,a:active {
    text-decoration: none;
}

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

svg:not(:root) { overflow: hidden; }

figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }



h1
{
    font-family: "Helvetica Neue", "Helvetica", sans-serif;
    font-size:2em;
    font-weight:500;
    margin:0;
}

p, h3, h4, code {
    font-size:1.2em;
}

p, h3, h4
{
    color:#6c6c6c;
    font-family: "Helvetica Neue", "Helvetica", sans-serif;
    font-weight:400;
    margin:0px 0 0;
}

h3, h4 {
    color:#6c6c6c;
    font-weight: 700;
    font-size:1.5em;
    line-height:1.5em;
    margin:25px 0 10px;
    text-align:left;
}

h4 {
    font-size:1.4em;
}



.wrapper
{
    margin:auto;
    width:960px;
}

html
{
    margin:0;
    padding:0;
}

body
{
    font-family: "Helvetica Neue", "Helvetica", sans-serif;
}

header
{
    margin:15px auto;
}

header a:hover {
    color: #000;
}

ul.navigation
{
    display:inline;
    float:right;
    list-style-type:none;
    margin-top:-34px;
}

ul.navigation li
{
    border-bottom:2px solid #FFF;
    float:left;
    font-family: "Helvetica Neue", "Helvetica", sans-serif;
    font-size:1.2em;
    margin-left:60px;
    padding: 2px 0px;
}

ul.navigation li:hover,ul.navigation li.on
{
    border-bottom:2px solid #0C84E8;
}


ul.posts {
  margin-top: 0;
  list-style-type: none;
  margin-bottom: 10px;
}

ul.posts li {
  line-height: 22px;
  font-size: 16px;
  margin-bottom: 0px;
}

ul.posts span {
  font-family: 'Andale Mono', 'Andale Mono', monospace;
  color: #aaa;
  padding-right: 5px;
  font-size:14px;
}

.main
{
    background-color:#f8f8f8;
    border:1px solid #e6e6e6;
    margin:auto;
    overflow:hidden;
    padding:30px 10px 0;
    position:relative;
    width:940px;
}

.main p
{
    font-size:.9em;
    text-align:center;
}

.secondary
{
    background-color:#f8f8f8;
    border:1px solid #e6e6e6;
    margin:auto;
    padding:50px 60px 30px;
    position:relative;
    width:840px;
}

.secondary h2
{
    font-size:3em;
}

.secondary h3 {
    border-bottom: 1px solid #ccc;
    margin-top: 2em;
}

.secondary p
{
    font-size:1.3em;
    line-height:1.5em;
    margin:5px 0 30px;
    text-align:left;
}

footer
{
    color:#a3a3a3;
    font-family: "Helvetica Neue", "Helvetica", sans-serif;
    font-size:.8em;
    margin:20px auto;
}

.social
{
    float:right;
}

.examples
{
    float:left;
    height:540px;
    margin:0;
    position:relative;
}

.examples img
{
    -moz-transition:opacity 1s ease-in-out;
    -o-transition:opacity 1s ease-in-out;
    -webkit-transition:opacity 1s ease-in-out;
    bottom:0;
    left:0;
    position:absolute;
    transition:opacity 1s ease-in-out;
}

.passbottom,.passtop
{
    background:#f8f8f8;
}

.examples img.passbottom:hover
{
    opacity:0;
}

.content
{
    display:block;
    margin-right:20px;
    margin-top:150px;
    position:absolute;
    right:0;
    text-align:center;
    width:350px;
}

.main .content h3 {
    font-family: font-family: "Helvetica Neue", "Helvetica", sans-serif;
    font-size: 3em;
    font-weight: 400;
    margin: 0;
    color: #222;
}

.button, input[type="submit"]
{
    display: block;
    border: none;
    text-align: center;
    background:url(../images/button.png)no-repeat;
    height:57px;
    margin:30px auto 20px;
    width:241px;
    color:#58595b;
    filter:dropshadow(color=#ffffff,offx=0,offy=1);
    font-family: "Helvetica Neue", "Helvetica", sans-serif;
    font-size:1.2em;
    padding:auto!important;
    padding-top:15px;
    text-shadow:0 1px 1px #fff;
}
.button:visited {
    color: #58595b;
}
input[type="submit"] {
    padding: 0;
}

.dottedline
{
    padding-top:20px;
}

.contactlabel {
    display:inline-block;
    margin-right: 12px;
}

/* =============================================================================
   Media Queries
   ========================================================================== */

.billguardDesktop {
    text-align: center;
}
.billguardMobile {
    display: none;
}
@media only screen and (max-device-width: 480px) {
    .billguardDesktop {
        display: none;
    }
    .billguardMobile {
        text-align: center;
        display: block;
    }
}

/* =============================================================================
   iPhone Styles
   ========================================================================== */

@media only screen and (max-device-width: 480px)/*, 
       only screen and (-webkit-min-device-pixel-ratio: 2)*/    {

    body
    {
        -webkit-text-size-adjust:none;
        font-family:Helvetica, Arial, Verdana, sans-serif;
        padding:5px;
    }
    
    div
    {
        clear:both!important;
        float:none!important;
        margin:0!important;
        padding:0!important;
        width:100%!important;
    }

    h3, h4 {
        line-height:1.2em;
    }
    
    header
    {
        margin-top:5px;
    }
    
    header p
    {
        font-size:1em;
    }
    
    footer
    {
        font-size:.6em;
    }
    
    ul.navigation
    {
        float:none;
    }
    
    ul.navigation li
    {
        margin:5px 0 5px 43px;
    }
    
    .wrapper
    {
        width:480px;
    }
    
    .main
    {
        min-height:350px;
        width:440px;
    }
    
    .secondary h2
    {
        font-size:1.5em;
    }
    
    .secondary
    {
        padding:10px!important;
        width:290px!important;
    }
    
    .secondary p
    {
        font-size:.9em;
        line-height:1.2em;
        margin:5px 0 20px;
        text-align:left;
    }
    
    .secondary h3
    {
        font-size:1.3em;
    }
    
    .examples,.passbottom,.passtop
    {
        display:none;
        height:0;
    }
    
    .content
    {
        height:auto;
        position:relative;
        text-align:center;
        width:400px;
    }
    
    .main .content h3
    {
        font-size:2.3em;
        text-align: center;
        margin:30px auto;
    }
    
    .main p:first-child {
        margin-top: 10px;
    }

}


/* =============================================================================
   PassSource field additions
   ========================================================================== */

form input[type="text"], form input[type="password"] {
    width: 795px;
    padding: 0 5px;
    height: 40px;
    margin: 10px auto;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-style: solid;
    border-color: #A3A3A3;
    box-shadow: inset 0 2px 5px rgba(0,0,0,0.3);
}

form select {
    width: 100%;
    height: 40px;
}

form textarea {
    width: 100%;
    min-height: 100px;
}

input:focus { 
    outline-width: 0;
    background: silver;
    border-radius: 15px;
    -moz-border-radius: 15px;
}

h5 {
    margin-bottom: 0;
}

label {
    display: block;
    font-size: 24px;
    font-weight: 700;
}

.field {
/*  background: white;*/
    margin-bottom: 30px;
    overflow: hidden;
}
    form .field > label {
        background: #f8f8f8;
    }
    form .field > input:not([type="checkbox"]) {
        margin: 15px;
    }

.field .location {
    padding: 15px;
}

.field.collapsed {
    height: 33px;
}

.fieldWrapper {
    background: #e6e6e6;
    padding: 0 50px;
}
    form .fieldWrapper .field > label {
        background: #e6e6e6;
    }
    form .fieldWrapper .field > input[type="text"] {
        width: 695px;
    }
        form .fieldWrapper .field .editableControls input[type="text"] {
            width: 695px;
        }
    form .fieldWrapper .field {
        background: white;
    }

.dragHandle {
    position: absolute;
    right: 16px;
    margin-top: 2px;
}

.deleteButton {
    position: absolute;
    right: 16px;
    margin-top: -24px;
}

.addButton {
    display: block;
    border-top: 1px solid #909090;
    background: white url("../images/addButton.png") no-repeat 10px center;
    padding: 10px 50px;
    font-weight: 700;
}

.viewToggle {
    -webkit-appearance: none;
    position: absolute;
    margin-left: -41px;
    margin-top: 6px;
    display: block;
    height: 20px;
    width: 303px;
    background: url("../images/visible20.png") no-repeat;   
    background-size: 33px 20px;
    border: none;
}
    .viewToggle:checked {
        background-image: url("../images/visible80.png");
    }
    @media all and (-webkit-min-device-pixel-ratio: 2) {
        .viewToggle {
            background-image: url("../images/visible20@2x.png");
        }
        .viewToggle:checked {
            background-image: url("../images/visible80@2x.png");
        }
    }

.dragHandle, .viewToggle, .addButton, .deleteButton, .editChecker {
    cursor: pointer;
}

.collapsed .field .viewToggle, .collapsed .field .dragHandle, .collapsed .deleteButton {
    display: none;
}

.editableControl {
    background-color: #e0e0e0;
    border-top: 1px solid #909090;
}
    .editableControls {
        padding: 15px;
    }
        .editableControls label {
            font-size: 18px;
            font-weight: 700;
            color: #5c5c5c;
        }
        form .fieldWrapper .field .editableControls .dropdownEditor input[type="text"] {
            width: auto;
        }
        .dropdownEditor input[type="submit"] {
            margin: 0;
        }
            .dropdownEditor input[type="image"] {
                margin-top: 16px;
            }
            .dropdownEditor input[type="text"] {
                width: auto;
            }
    .editChecker {
        float: right;
        margin: -32px 0 0;
        height: 25px;
        display: block;
        -webkit-appearance: none;
        background: url("../images/edit20.png") no-repeat right;
        background-size: 29px 25px;
        font-size: 14px;
        font-weight: 700;
        color: rgba(0,0,0,0.2);
    }
        .editChecker:before {
            vertical-align: -5px;
            content: "user editable?";
            padding-right: 35px;
        }
        .editChecker:checked {
            color: rgba(0,0,0,0.8);
            background-image: url("../images/edit80.png");
        }
        .editChecker:checked:before {
            content: "user editable";
        }
    @media all and (-webkit-min-device-pixel-ratio: 2) {
        .editChecker {
            background-image: url("../images/edit20@2x.png");
        }
        .editChecker:checked {
            background-image: url("../images/edit80@2x.png");
        }
    }

div.rui-colorpicker div.field, div.rui-colorpicker div.field div.pointer, div.rui-colorpicker div.colors, div.rui-colorpicker div.colors div.pointer {
    background-image: url(javascript/colorpicker.png);
}
div.rui-colorpicker div.rui-button {
    top: 0;
    bottom: 0;
    display: block;
    height: 100%;
    margin: 0;
    padding: 0;
    line-height: 150px;
    width: 100%;
}
.rui-panel {
    width: 245px;
}
div.rui-colorpicker div.controls {
    width: 3em;
}
    div.rui-colorpicker div.controls > * {
        display: none;
    }
    div.rui-colorpicker div.controls > .rui-button {
        display: block;
    }

ul.pass-icons{
    list-style-type: none;
    padding-left: 10px;
}

ul.pass-icons li{
    margin: 20px auto;
}

ul.pass-icons li span{
    margin-left: 10px;
    font-size: 1.3em;
}

.passListItem {
    padding-left: 74px;
    min-height: 79px;
    background: none url('foo') no-repeat left middle;
    background-repeat: no-repeat;
    background-size: 64px 79px;
    display: block;
}
    .passListItem div {
        display: table;
        height: 79px;
    }
        
        .passListItem div span {
            display: table-cell;
            vertical-align: middle;
        }
            .passListItem div span span {
                font-size: 10px;
                color: #ccc;
            }

.error {
    color: red;
}

p.notice, p.warning, p.message {
    border-radius: 5px;
    padding: 5px;
    margin: 0 50px 20px;
    text-align: center;
    color: black;
    font-size: smaller;
    font-weight: bold;
    font-family: "Helvetica Neue", "Helvetica", sans-serif;
    border: 1px solid #999;
    box-shadow: 0 0 5px #888;
    text-shadow: 0 1px rgba(255,255,255,0.6);
}
.notice a, .warning a, .message a {
    text-decoration: underline;
}
.notice {
    background-color: #99f;
}
.warning {
    background-color: #f99;
}
.message {
    background-color: #9f9;
}

code {
    color: #966;
    font-size: 0.8em;
}

span code {
    display: block;
    padding: 25px;
    overflow: scroll;
    background: white;
    white-space: pre;
    white-space: pre-wrap;
    margin: 15px 0;
}

            p.message {
                opacity: 1;
                -webkit-transition: opacity 1s;
                margin-top: -52px;
            }
                body .dismissed {
                    -webkit-transition-delay: 5s;
                    opacity: 0;
                }
    @media only screen and (max-device-width: 480px) {
        form input[type="text"], form input[type="password"] {
            width: 278px;
        }
        .secondary p.message {
            text-align: center;
            padding: 5px;
            line-height: 16px;
            margin: -48px 50px 20px;
        }
    }

/* Visual editor styles */
#visualEditor {
    font-family: "HelveticaNeue-Light", Helvetica, Arial, sans-serif;
}
#visualPass {
    padding: 15px;
    width: 290px;
    height: 430px;
    background-size: 320px 460px;
    background: red url('../images/interface/mask_generic.png') no-repeat;
    text-shadow: 0 -1px rgba(0,0,0,0.5);
    position: relative;
}
    #visualPass.coupon {
        background: red url('../images/interface/mask_coupon.png') no-repeat;
    }
    #visualPass.boardingPass {
        background: red url('../images/interface/mask_boardingPass.png') no-repeat;
    }
    #visualPass.storeCard {
        background: red url('../images/interface/mask_storeCard.png') no-repeat;
    }
    #visualPass.eventTicket {
        background: red url('../images/interface/mask_eventTicket.png') no-repeat;
    }
    #visualPass.suppressStripShine #stripShine,
    #visualPass.boardingPass #stripImage, #visualPass.boardingPass #stripShine,
    #visualPass.generic #stripImage, #visualPass.generic #stripShine {
        display: none;
    }
    
    #visualPass #headerLine {
        border-top: 1px solid rgba(0,0,0,0.2);
        border-bottom: 1px solid rgba(255,255,255,0.2);
        margin: 1px 0;
        padding: 0;
    }

    #visualPass .visualField {
        float: left;
    }
    
    #visualPass .visualField.PKTextAlignmentRight {
        text-align: right;
    }
    #visualPass .visualField.PKTextAlignmentCenter {
        text-align: center;
    }
    #visualPass .visualField.PKTextAlignmentLeft {
        text-align: left;
    }

    #visualPass .label {
        display: block;
        line-height: 10px;
        font-size: 10px;
        font-weight: bold;
        text-shadow: none;
    }


    #headerFields_display {
        height: 50px;
        font-size: 21px;
    }
        #logoImage {
            max-height: 50px;
            vertical-align: 0px;
        }
        #logoText_display {
            font-weight: bold;
            font-size: 18px;
            min-width: 100px;
            min-height: 30px;
            line-height: 50px;
        }
        #headerFields_display .visualField {
            float: right;
            text-align: right;
            margin-left: 10px;
            margin-right: 0;
        }
    
    #primaryFields_display, #secondaryFields_display, #auxiliaryFields_display {
        clear: left;
        position: relative;
    }
    
    .coupon #primaryFields_display, .storeCard #primaryFields_display, .eventTicket #primaryFields_display { /* make sure not event or generic? */
        width: 312px;
        width: 282px;
        margin: 0 -11px;
        padding: 15px;
        height: 123px;
        height: 93px;
        overflow: hidden;
    }
        #stripImage {
            position: absolute;
            width: 312px;
            min-height: 123px;
            top: 0;
            left: 0;
            bottom: 0;
            right: -11px;
        }
        #stripShine {
            position: absolute;
            width: 312px;
            height: 123px;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }
        .boardingPass #primaryFields_display .value {
            font-size: 38px;
        }
        .boardingPass #primaryFields_display .visualField.PKTextAlignmentNatural:last-child {
            text-align: right;
        }
        
        #thumbnailImage {
            max-width: 80px;
            max-height: 80px;
            border: 5px solid white;
            position: absolute;
            right: 0;
            top: 10px;
            display: none;
        }
        .eventTicket #thumbnailImage, .generic #thumbnailImage {
            display: block;
        }
        
        .generic #primaryFields_display #visualField .value {
            font-size: 30px;
        }

    #visualPass.coupon #primaryFields_display .label, #visualPass.storeCard #primaryFields_display .label {
        position: absolute;
        bottom: 15px;
        left: 10px;
        right: 10px;
        font-size: 18px;
        font-weight: normal;
        text-shadow: inherit;
        display: block;
        color: inherit;
    }
    #visualPass.coupon #primaryFields_display .value, #visualPass.storeCard #primaryFields_display .value {
        position: absolute;
        top: 0;
        left: 10px;
        right: 10px;
        display: block;
        font-size: 65px;
        font-weight: normal;
        overflow: hidden;
        text-overflow: ellipsis;
        text-shadow: inherit;
        white-space: nowrap;
    }

    #barcode_display_wrapper {
        text-align: center;
        position: absolute;
        bottom: 15px;
        left: 0;
        right: 0;
    }
        #barcode_display {
            display: inline-block;
            text-align: center;
            margin: auto;
            background: white;
            border-radius: 5px;
            padding: 10px;
            clear: left;
            padding-bottom: 5px;
            color: #999;
            text-shadow: none;
            font-size: 14px;
            box-shadow: 0 1px 5px black;
        }
            #barcodeImage {
                margin-bottom: 5px;
            }
            #barcode_altText_display {
                display: block;
            }
        
    #footerImage {
        max-height: 15px;
        position: absolute;
        top: -25px;
        display: none;
    }
    .boardingPass #footerImage {
        display: block;
    }
    
    .generic #auxiliaryFields_display {
        display: none;
    }

.uploadDialog {
    position: fixed;
    background-color: rgba(0,0,0,0.7);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    padding: 100px;
    color: white;
    font-weight: bold;
}

/* =============================================================================
   Non-Semantic Helper Classes
   ========================================================================== */

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

/* =============================================================================
   Print Styles
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
